# virtualenv folders
*-parsed.json
*.egg-info
*.py[co]
*~
.DS_Store
.cache/
.coverage
.idea
.ipynb_checkpoints
.mypy_cache
.python-version
.ropeproject
.tox
.vagrant/
/build/
/cover/
/dist/
/htmlcov/
README.rst
_cache/
convolutional-neural-networks/
coursera-dl.conf
deep-neural-network/
deeplearning.ai/
machine-learning-projects/
neural-networks-deep-learning-syllabus-parsed.json
neural-networks-deep-learning/
nlp-sequence-models/
tags
tmp
venv2
venv3
